Repository ScilifelabDataCentre/dds_cli, pull requests merged in 2021-10, with the labels that each got.

#166 Only remove tests involving request. Won't fix the pytest fails though.
  .github/workflows/python-app.yml
  tests/test_requests/test_auth_request.py
  tests/test_requests/test_list_files_request.py
  tests/test_requests/test_list_proj_request.py
  tests/test_requests/test_proj_public_request.py
Labels: tests

#167 Add function to create a project
  dds_cli/__init__.py
  dds_cli/__main__.py
  dds_cli/base.py
  dds_cli/project_creator.py
  requirements.txt
  tests/test_main.py
Labels: Task

#172 Match user inheritance
  dds_cli/__init__.py
  dds_cli/__main__.py
  dds_cli/base.py
  dds_cli/data_getter.py
  dds_cli/data_lister.py
  dds_cli/data_putter.py
  dds_cli/exceptions.py
  dds_cli/file_handler_local.py
  dds_cli/s3_connector.py
  dds_cli/user.py
Labels: cli, Task, must have
