Repository ScilifelabDataCentre/dds_cli, pull requests merged in 2025-04, with the labels that each got.

#738 Adapted client remove all conrents message according to Queuing POC
  SPRINTLOG.md
  dds_cli/data_remover.py
  tests/test_data_remover.py
Labels: cli, Epic 1, breaking

#742 New version 2.10.0 and changelog
  CHANGELOG.rst
  SPRINTLOG.md
  dds_cli/version.py
  img/dds-help-1.svg
  img/dds-help-2.svg
  img/dds-version.svg
  img/python-version.svg
  img/python3-version.svg
Labels: skip-changelog

#741 New release: version 2.10.0
  .github/pull_request_template.md
  .github/release.yml
  .github/workflows/docs-github-pages-cli.yml
  .github/workflows/pytest-cli.yml
  .github/workflows/release-cli.yml
  CHANGELOG.rst
  README.md
  SPRINTLOG.md
  dds_cli/data_remover.py
  dds_cli/version.py
  docs/procedures/new_release.md
  img/dds-help-1.svg
  img/dds-help-2.svg
  img/dds-version.svg
  img/python-version.svg
  img/python3-version.svg
  requirements-dev.txt
  requirements.txt
  tests/test_data_remover.py
Labels: skip-changelog

#744 Add ubuntu 20.04 as an executable again
  .github/workflows/release-cli.yml
  SPRINTLOG.md
Labels: feature

#745 New release: v2.10.1
  .github/workflows/release-cli.yml
  CHANGELOG.rst
  SPRINTLOG.md
  dds_cli/version.py
  img/dds-help-1.svg
  img/dds-help-2.svg
  img/dds-version.svg
Labels: skip-changelog

#740 Log file created by default for uploads and downloads
  SPRINTLOG.md
  dds_cli/__init__.py
  dds_cli/__main__.py
  dds_cli/auth.py
  dds_cli/base.py
  dds_cli/data_getter.py
  dds_cli/data_putter.py
  dds_cli/directory.py
  dds_cli/project_info.py
  dds_cli/project_status.py
  dds_cli/superadmin_helper.py
  dds_cli/utils.py
Labels: feature

#750 New Github Action for automatically generating release draft: Release Drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  SPRINTLOG.md
Labels: skip-changelog

#751 Remove "Changes" title from release drafts
  .github/release-drafter.yml
  SPRINTLOG.md
Labels: skip-changelog

#752 Change Release Drafter config structure
  .github/release-drafter.yml
  SPRINTLOG.md
Labels: skip-changelog

#753 Labels in version resolver in Release Drafter
  .github/release-drafter.yml
Labels: skip-changelog

#754 New version 2.11.0 and Changelog
  .github/pull_request_template.md
  .github/release.yml
  CHANGELOG.rst
  SPRINTLOG.md
  dds_cli/version.py
  img/dds-help-1.svg
  img/dds-help-2.svg
  img/dds-version.svg
  img/python-version.svg
  img/python3-version.svg
Labels: skip-changelog

#747 New release: 2.11.0
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/release-drafter.yml
  CHANGELOG.rst
  SPRINTLOG.md
  dds_cli/__init__.py
  dds_cli/__main__.py
  dds_cli/auth.py
  dds_cli/base.py
  dds_cli/data_getter.py
  dds_cli/data_putter.py
  dds_cli/directory.py
  dds_cli/project_info.py
  dds_cli/project_status.py
  dds_cli/superadmin_helper.py
  dds_cli/utils.py
  dds_cli/version.py
  img/dds-help-1.svg
  img/dds-help-2.svg
  img/dds-version.svg
  img/python-version.svg
  img/python3-version.svg
Labels: skip-changelog
